language: scala
sudo: required
services:
  - docker

before_install:
  - docker pull farmdawgnation/giterrific:latest
  - docker run -d -p 8080:8080 -v $TRAVIS_BUILD_DIR/repos:/opt/giterrific/repos farmdawgnation/giterrific:latest

branches:
  only:
  - master

script: sbt client/it:test playws24/it:test

cache:
  directories:
  - $HOME/.m2
