language: scala
sudo: required

env:
  - GTRVERSION: 0.1.0-SNAPSHOT

services:
  - docker

before_install:
  - sudo apt-get install zip
  - sbt server/docker:publishLocal
  - docker run -d -p 8080:8080 -v $TRAVIS_BUILD_DIR/repos:/opt/giterrific/repos farmdawgnation/giterrific:$GTRVERSION

branches:
  only:
  - master

script: sbt client/it:test playws24/it:test

cache:
  directories:
  - $HOME/.m2
